<div class="container mt-5">

  <!-- Project Header with Back Link -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="display-5 text-primary mb-0"><%= @project.title %></h1>
  </div>

  <!-- Project Description -->
  <div class="card shadow-sm border-0 mb-4">
    <div class="card-body">
      <p class="lead text-muted"><%= @project.description %></p>
    </div>
  </div>

  <%= turbo_frame_tag "comments_history" do %>
    <%= render 'comments_form_section', project: @project, comment: @comment, comments_history: @project.comments %>
  <% end %>

  <%= turbo_frame_tag "status_changes_history" do %>
    <%= render 'status_changes_section', project: @project, status_history: @project.status_changes %>
  <% end %>
</div>
